.admin-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: start;

  &__footer {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
