@import '../../assets/variables';

.help-us {
  background-color: #F47B6A;

  &__container {
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 6.25rem;

    &__body {
      margin-top: 11.063rem;
      display: flex;
      align-items: center;
      gap: 6.125rem;

      @media screen and (max-width: 1156px) {
        flex-direction: column;
      }

      @media screen and ($smartphone-and-tablet-size) {
        flex-direction: column;
        margin-top: 3rem
      }

      &__left {
        &__title {
          font-size: 5.5rem;
          color: #F2DFD7;
          width: 518px;
          line-height: 150%;
          font-family: "Fraunces", sans-serif;
          font-weight: 900;

          @media screen and ($smartphone-and-tablet-size) {
            font-size: 2.75rem;
            width: 342px;
            text-align: center;
          }
        }

        &__subtitle {
          margin-top: 2.375rem;
          color: #000;
          font-size: 1.25rem;
          width: 27.125rem;
          line-height: 150%;
          font-family: "Alexandria", sans-serif;
          font-weight: 600;

          @media screen and ($smartphone-and-tablet-size) {
            font-size: 1.125rem;
            width: 342px;
            text-align: center;
          }
        }

        &__wrapper-button {
          display: flex;
          gap: 24px;
          margin-top: 43px;

          @media screen and ($smartphone-and-tablet-size) {
            justify-content: center;
          }

          &__donate {
            background-color: #E94250;
          }

          &__adopt {
            background-color: #F0BE8A;
          }
        }
      }

      &__right {
        &__img {
          width: 624px;
          height: 624px;
          background-color: #F0BE8A;
          border-radius: 50%;
          background-image: url("/images/duda-dog.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;

          @media screen and ($smartphone-and-tablet-size) {
            background-size: 222px;
            width: 342px;
            height: 358px;
          }

          @media (min-width: 768px) and (max-width: 1370px) {
            width: 525px;
            height: 525px;
            background-size: 350px;
          }
        }
      }
    }
  }
}
