.adocaocard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.adocaocard__container {
  width: 300px;
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  border-radius: 8px;
  overflow: hidden;

  &__img {
    background-image: url('/public/images/mask-group.png');
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: auto;
    height: 316px;
    width: 320px;
  }

  &__icon {
    display: flex;
    align-items: center;
    position: absolute;
    left: 200px;
  }

  &__item {
    position: relative;
    background-color: #fdd8b1;
    width: 335px;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    padding: 2rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;

    &__title {
      display: flex;
      font-size: 2.2rem;
      color: #e94250;
      line-height: auto;
      font-family: 'Alexandria', sans-serif;
      font-weight: 600;
    }

    &__title2 {
      margin-left: 1rem;
    }

    &__title3 {
      font-weight: 500;
    }
  }

  &__item2 {
    z-index: 1;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
  }
}
