.logo-container {
  display: flex;
  align-items: center;

  &__content {
    h1 {
      color: #031e7d;
      font-size: 4rem;
    }

    span {
      color: #031e7d;
      font-size: 15px;
      display: inline-block;
      width: 13.9375rem;
    }
  }
}