.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5.5rem;

  &__logo-container {
    display: flex;
    align-items: center;

    &__content {
      h1 {
        color: #031E7D;
        font-size: 4rem;
      }

      span {
        color: #031E7D;
        font-size: 15px;
        display: inline-block;
        width: 13.9375rem;
      }
    }
  }

  &__nav {
    &__list {
      list-style: none;
      display: flex;
      gap: 20px;

      a {
        color: #031E7D;
        font-size: 1.5rem;
        text-decoration: none;
      }

      a.active {
        text-decoration: underline #031E7D;
        text-underline-offset: 10px;
      }
    }
  }
}