@use '../../assets/variables' as *;

$header-top-margin: 6.25rem;
$text-bottom-margin: 3rem;
$text-left-margin: 3rem;

.adocao__page-container {
  background-color: #ff7665;
  padding-top: $header-top-margin;
  padding-bottom: $header-top-margin;
}

.adocao {
  max-width: 1140px;
  margin: 0 auto;

  &__title {
    font-size: 3.45rem;
    color: #f0be8a;
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
    text-align: start;
    padding-left: $text-left-margin;
    margin-bottom: $text-bottom-margin;
  }

  &__filter-select {
    color: #f0be8a;
    font-size: 2rem;
    font-family: 'Alexandria', sans-serif;
    font-weight: 600;
    margin-bottom: calc($text-bottom-margin * 2);
    padding-left: $text-left-margin;

    .filter-button:not(:last-child) {
      margin-right: $text-left-margin;
    }
  }

  &__content-container {
    margin: 0 auto;
    padding-top: $header-top-margin;
  }
}
