@import './assets/fontes';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e0e0e0;
}

.application-container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
}

h1,
span,
a,
p {
  font-family: 'Roboto', sans-serif;
}
