@import '../../assets/variables';

.header {
  display: flex;
  align-items: center;
  gap: 9.375rem;

  @media screen and ($smartphone-size) {
    gap: 242px;
    justify-content: space-around;
  }

  &__burger-menu {
    display: none;

    @media screen and ($smartphone-size) {
      display: block;
    }
  }

  &__minimal-logo {
    display: none;
    @media screen and ($smartphone-size) {
      display: block;
    }
  }

  &__complete-logo {
    @media screen and ($smartphone-size) {
      display: none;
    }
  }

  &__nav {
    @media screen and ($smartphone-size) {
      display: none;
    }

    &__list {
      list-style: none;
      display: flex;
      gap: 20px;

      a {
        color: #fff;
        font-size: 1.125rem;
        text-decoration: none;
        line-height: 150%;

        &:hover {
          color: #ED3E54;
          text-decoration: underline #ED3E54;
          text-underline-offset: 5px;
        }
      }

      a.active {
        color: #ED3E54;
        text-decoration: underline #ED3E54;
        text-underline-offset: 5px;
      }
    }
  }

  &__donate-button {
    @media screen and ($smartphone-size) {
      display: none;
    }
  }
}
