.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5.5rem;

  &__nav {
    &__list {
      list-style: none;
      display: flex;
      gap: 20px;

      a {
        color: #031e7d;
        font-size: 1.5rem;
        text-decoration: none;
      }

      a.active {
        text-decoration: underline #031e7d;
        text-underline-offset: 10px;
      }
    }
  }
}
