@import '../../assets/variables';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  @media screen and ($smartphone-and-tablet-size) {
    justify-content: space-around;
    gap: 20px;
    padding: 10px;
  }

  &__burger-menu {
    display: none;

    @media screen and ($smartphone-and-tablet-size) {
      display: block;
    }
  }

  &__minimal-logo {
    display: none;

    @media screen and ($smartphone-and-tablet-size) {
      display: block;
    }
  }

  &__complete-logo {
    display: block;

    @media screen and ($smartphone-and-tablet-size) {
      display: none;
    }
  }

  &__donate-button {
    display: block;

    @media screen and ($smartphone-and-tablet-size) {
      display: none;
    }
  }
}
